﻿

<section class="sliders sliders--home">
    <ul class="sliders__main js-slider-main slider enable-bx-slider" data-auto="true" data-auto-hover="true" data-mode="fade" data-pager="false" data-pager-custom="null" data-prev-selector="null" data-next-selector="null">
        <li>
            <img src="media/sliders/slider2.jpg" alt="bxSlider" />
            <div class="sliders__text">
                <h2>müşterilerimiz eğleniyor !</h2>
                <h3>Sende Bize Katıl<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
                <p>
                   Küçük bir gövdede, büyük bir ruha sahip ! 
                </p>
                <a href="#" class="btn button button--red triangle">Daha fazlası...</a>
            </div>
        </li>
        <li>
            <img src="media/sliders/slider8.jpg" alt="bxSlider" />
            <div class="sliders__text">
                <h2>Yeni Fırsatlar Karşınızda</h2>
                <h3>Hızlı olan kazanır!<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
                <p>
                    Fırsatlarımızdan haberdar olmak için üye ol.
                </p>
                <a href="#" class="btn button button--red triangle">Daha Fazlası..</a>
            </div>
        </li>
        <li>
            <img src="media/sliders/slider2.jpg" alt="bxSlider" />
            <div class="sliders__text">
                <h2>müşterilerimiz eğleniyor !</h2>
                <h3>Sende Bize Katıl<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
                <p>
                    Küçük bir gövdede, büyük bir ruha sahip !
                </p>
                <a href="#" class="btn button button--red triangle">Daha fazlası...</a>
            </div>
        </li>
        <li>
            <img src="media/sliders/slider8.jpg" alt="bxSlider" />
            <div class="sliders__text">
                <h2>Yeni Fırsatlar Karşınızda</h2>
                <h3>Hızlı olan kazanır!<span class="line line--slider"><span class="line__first"></span><span class="line__second"></span></span></h3>
                <p>
                    Fırsatlarımızdan haberdar olmak için üye ol.
                </p>
                <a href="#" class="btn button button--red triangle">Daha Fazlası...</a>
            </div>
        </li>

    </ul>
</section><!--sliders-->
<section class="biker-club">
    <div class="container">
        <div class="biker-club__main line-down triangle triangle--big">
            <div class="row">
                <div class="col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="biker-club__upcoming">
                        <h2 class="title"><span class="title__bold">Motorcycle</span>Shop</h2>
                        <h3 class="title-space">Yaklaşan Etkinlikler</h3>
                        <p class="text">
                            Nunc molestie sapien tempor placerat aliquam
                            eget leo. Curabitur lectus. Suspendisse dapibus
                            consectet mauris. Aliquam urna dolor.
                        </p>
                        <a href="#" class="button btn button--main button--grey">Yaklaşan Etkinlikler</a>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="event">
                        <div class="row row--no-padding">
                            <div class="col-xs-6">
                                <div class="event__info clearfix">
                                    <h3 class="event__title">Bike Sportshow Etkinliği</h3>
                                    <div class="event__time">Kansas City <span>|</span>  1 Day</div>
                                    <div class="event__addr-date clearfix"><span class="fa fa-map-marker"></span>Hill Roe Bartle Hall, Kansas City,<br /> Missouri, USA</div>
                                    <div class="event__addr-date clearfix"><span class="fa fa-calendar-o"></span>Sunday, March 29, 2015</div>
                                    <a class="button btn button--red button--main pull-right">Bilet Al</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="event__img">
                                    <img src="media/370x280/event.jpg" class="img-responsive" alt="event" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--biker-club-->
<section class="we-are we-are--home">
    <div class="container">
        <h2 class="title title--main wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="title__bold">Motorcycle</span>Shop<span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
        <p class="text text--anons wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
    </div>
</section><!--we-are-->
<div class="images">
    <div class="row row--no-padding">
        <div class="col-xs-4 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
            <div class="images__one">
                <img src="media/530x360/bike1.jpg" class="img-responsive" alt="bike" />
            </div>
        </div>
        <div class="col-xs-4 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            <div class="images__one">
                <img src="media/530x360/bike2.jpg" class="img-responsive" alt="bike" />
            </div>
        </div>
        <div class="col-xs-4 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
            <div class="images__one">
                <img src="media/530x360/bike3.jpg" class="img-responsive" alt="bike" />
            </div>
        </div>
    </div>
</div><!--images-->
<section class='info-blocks'>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <div class="info-block">
                    <h3 class="title title--block"><span class="title__bold">En İyi</span>Performans</h3>
                    <p class="text">
                        Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis susp
                        endisse et erat. Ut proin a ipsum vitae orci porta tristique nam. Lorem ipsum do
                        lor sit amet consectetur adipisicing elit sed do eiusmod.
                    </p>
                    <a href="article.html" class="btn button button--red button--main">Read More</a>
                </div>
            </div>
            <div class="col-xs-6 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <div class="info-block">
                    <h3 class="title title--block"><span class="title__bold">Kendi </span>Markanı Yarat</h3>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nost
                        ud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                    </p>
                    <a href="article.html" class="btn button button--red button--main">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section><!--info-blocks-->
<div class="numbers numbers--home">
    <div class="container">
        <div class="clearfix percent-blocks" data-waypoint-scroll="true">
            <div class="numbers__one">
                <header class="numbers__head">
                    <span class="fa fa-building"></span>
                    <div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
                </header>
                <div class="numbers__body chart" data-percent="25">
                    <div class="numbers__num percent">25</div>
                    <div class="number__desc">Şehir</div>
                </div>
            </div>
            <div class="numbers__one">
                <header class="numbers__head">
                    <span class="fa fa-motorcycle"></span>
                    <div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
                </header>
                <div class="numbers__body chart" data-percent="5000">
                    <div class="numbers__num percent">5000</div>
                    <div class="number__desc">Üye</div>
                </div>
            </div>
            <div class="numbers__one">
                <header class="numbers__head">
                    <span class="fa fa-cog"></span>
                    <div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
                </header>
                <div class="numbers__body chart" data-percent="1258">
                    <div class="numbers__num percent">1258</div>
                    <div class="number__desc">Servis</div>
                </div>
            </div>
            <div class="numbers__one">
                <header class="numbers__head">
                    <span class="fa fa-tachometer"></span>
                    <div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
                </header>
                <div class="numbers__body chart" data-percent="6000">
                    <div class="numbers__num percent">6000</div>
                    <div class="number__desc">KM</div>
                </div>
            </div>
            <div class="numbers__one">
                <header class="numbers__head">
                    <span class="fa fa-road"></span>
                    <div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
                </header>
                <div class="numbers__body chart" data-percent="9000">
                    <div class="numbers__num percent">9000</div>
                    <div class="number__desc">Test Sürüşü</div>
                </div>
            </div>
        </div>
    </div>
</div><!--numbers-->
<div class="home-reviews dark-bg">
    <div class="container">
        <div class="home-reviews__quote triangle triangle--services"><span class="fa  fa-quote-right"></span></div>
        <div class="owl-carousel js-home-reviews enable-owl-carousel" data-auto-play="5000" data-stop-on-hover="true" data-items="2" data-pagination="true" data-navigation="false" data-items-desktop="2" data-items-desktop-small="2" data-items-tablet="1" data-items-tablet-small="1">
            <div>
                <div class="home-reviews__review wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="home-reviews__person">
                        <div class="person person--first"></div>
                    </div>
                    <div class="home-reviews__text">
                        <p>
                            Proin blandit quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl  ultric lacu at  Etiam eleifend nisl nec lectus aecen
                            as sit amet donec erat. Fusce quis nisl ac sapien tristiqu
                        </p>
                    </div>
                    <div class="home-reviews__author">
                        Martin Hasman
                    </div>
                    <div class="home-reviews__position">
                        Owner Ducati S600VX
                    </div>
                </div>
            </div>
            <div>
                <div class="home-reviews__review wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="home-reviews__person">
                        <div class="person person--second"></div>
                    </div>
                    <div class="home-reviews__text">
                        <p>
                            Proin blandit quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl  ultric lacu at  Etiam eleifend nisl nec lectus aecen
                            as sit amet donec erat. Fusce quis nisl ac sapien tristiqu
                        </p>
                    </div>
                    <div class="home-reviews__author">
                        Ben Thomas
                    </div>
                    <div class="home-reviews__position">
                        Owner Honda CB1000R
                    </div>
                </div>
            </div>
            <div>
                <div class="home-reviews__review wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="home-reviews__person">
                        <div class="person person--first"></div>
                    </div>
                    <div class="home-reviews__text">
                        <p>
                            Proin blandit quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl  ultric lacu at  Etiam eleifend nisl nec lectus aecen
                            as sit amet donec erat. Fusce quis nisl ac sapien tristiqu
                        </p>
                    </div>
                    <div class="home-reviews__author">
                        Martin Hasman
                    </div>
                    <div class="home-reviews__position">
                        Owner Ducati S600VX
                    </div>
                </div>
            </div>
            <div>
                <div class="home-reviews__review wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="home-reviews__person">
                        <div class="person person--second"></div>
                    </div>
                    <div class="home-reviews__text">
                        <p>
                            Proin blandit quam molestie luctus vehicula orci massa interdum justo nec rutrum risus augue ut nisl  ultric lacu at  Etiam eleifend nisl nec lectus aecen
                            as sit amet donec erat. Fusce quis nisl ac sapien tristiqu
                        </p>
                    </div>
                    <div class="home-reviews__author">
                        Ben Thomas
                    </div>
                    <div class="home-reviews__position">
                        Owner Honda CB1000R
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--home-reviews-->
<section class="services">
    <div class="container">
        <div class="services__main">
            <h2 class="title title--main wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="title__bold">Motorcycle</span>Shop Servisleri<span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
            <p class="text text--anons wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
            <div class="row">
                <div class="col-sm-7 col-xs-12 wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="services__img">
                        <img class="img-responsive" src="media/motorcycles/moto-red.png" alt="bike" />
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12 wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                    <div class="services__info">
                        <div class="services__info-block wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Motorcycle Inspection</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
                            <div class="services__text triangle triangle--services">
                                Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
                            </div>
                        </div>
                        <div class="services__info-block wow fadeInRightata-wow-delay="0.7s" data-wow-duration="1.5s">
                            <h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Finance And Insurance</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
                            <div class="services__text triangle triangle--services">
                                Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
                            </div>
                        </div>
                        <div class="services__info-block wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Ready For the Racing</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
                            <div class="services__text triangle triangle--services">
                                Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
                            </div>
                        </div>
                        <div class="services__info-block wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Tyre And Oil Change</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
                            <div class="services__text triangle triangle--services">
                                Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
                            </div>
                        </div>
                        <div class="services__info-block wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#">Parts Replacement</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
                            <div class="services__text triangle triangle--services">
                                Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
                            </div>
                        </div>
                        <div class="services__info-block wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <h5 class="clearfix services__title"><a class="pull-left no-decoration js-toggle" href="#"> Accident Repairs And Quotes</a><a class="square square--toggle pull-right js-toggle"><span class="fa fa-plus"></span></a></h5>
                            <div class="services__text triangle triangle--services">
                                Nunc molestie sapien tempor placerat Cras et lectus. Etiam sit amet turpis. Suspendisse et erat. Ut  Proin a ipsum vitae orci porta tristique nam. Class aptent taciti sociosqu ad sodales f
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--services-->
<section class="listings">
    <div class="container">
        <header class="tab-header clearfix wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            <h2 class="title title--main pull-left"><span class="title__bold">Motorcycle</span>Shop Listeleri<span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
            <div class="tab-toggles pull-right js-isotope-btns">
                <a href="#" class="button button--grey button--main btn js-isotope-btn" data-sort-by="name">BY TYPE</a>
                <a href="#" class="button button--grey button--main btn button--active js-isotope-btn" data-sort-by='original-order'>BY NEWEST</a>
            </div>
        </header>
        <p class="text text--anons wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit. In vitae dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.</p>
        <div class="row isotope">
            <div class="col-md-3 col-xs-6 isotope-item wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
                    <div class="listing-anons__img">
                        <img src="media/270x230/listing1.jpg" class="img-responsive" alt="bike" />
                    </div>
                    <div class="listing-anons__title">
                        <h4 class="name">DIRT BIKE MOTORCYCLES</h4>
                    </div>
                    <div class="listing-anons__hidden">
                        <h3>DIRT BIKE MOTORCYCLES</h3>
                        <p>Nunc molestie sapien temporplace</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6 isotope-item wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
                    <div class="listing-anons__img">
                        <img src="media/270x230/listing3.jpg" class="img-responsive" alt="bike" />
                    </div>
                    <div class="listing-anons__title">
                        <h4 class="name">SPORTBIKE MOTORCYCLES</h4>
                    </div>
                    <div class="listing-anons__hidden">
                        <h3>SPORTBIKE MOTORCYCLES</h3>
                        <p>Nunc molestie sapien temporplace</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6 isotope-item wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
                    <div class="listing-anons__img">
                        <img src="media/270x230/listing4.jpg" class="img-responsive" alt="bike" />
                    </div>
                    <div class="listing-anons__title">
                        <h4 class="name">CRUISER BIKES</h4>
                    </div>
                    <div class="listing-anons__hidden">
                        <h3>CRUISER BIKES</h3>
                        <p>Nunc molestie sapien temporplace</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6 isotope-item wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <a href="shop.html" class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration">
                    <div class="listing-anons__img">
                        <img src="media/270x230/listing2.jpg" class="img-responsive" alt="bike" />
                    </div>
                    <div class="listing-anons__title">
                        <h4 class="name">MINI &amp; POCKET BIKES</h4>
                    </div>
                    <div class="listing-anons__hidden">
                        <h3>MINI &amp; POCKET BIKES</h3>
                        <p>Nunc molestie sapien temporplace</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section><!--listings-->
<section class="partners">
    <div class="container">
        <h2 class="title title--main wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s"><span class="title__bold">Motorcycle</span> Shop İş Ortakları<span class="line line--title line--center"><span class="line__first"></span><span class="line__second"></span></span></h2>
        <p class="text--small wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
            Nullam ac velit. Fusce consequat ipsum non ipsum. Nam ullamcorper ipsum quis erat. Aliquam non elit vitae
            dui sagittis cursus. Duis convallis rutrum mauris. Maecenas eu neque lacinia.
        </p>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
                <div class="brand">
                    <img src="media/logos/luxe.png" alt="brand" />
                </div>
                <div class="brand">
                    <img src="media/logos/wuezon.png" alt="brand" />
                </div>
                <div class="brand">
                    <img src="media/logos/motox.png" alt="brand" />
                </div>
                <div class="brand">
                    <img src="media/logos/dna.png" alt="brand" />
                </div>
                <div class="brand">
                    <img src="media/logos/mint.png" alt="brand" />
                </div>
            </div>
        </div>
    </div>
</section><!--partners-->

